pkgbase = libfprint-verimark
	pkgdesc = Library for fingerprint readers with experimental Kensington VeriMark support
	pkgver = 1.94.10.r1.g66591aa
	pkgrel = 1
	url = https://fprint.freedesktop.org/
	arch = x86_64
	groups = fprint
	license = LGPL-2.1-or-later
	checkdepends = cairo
	checkdepends = umockdev
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = python-cairo
	makedepends = python-gobject
	makedepends = systemd
	depends = libgcc
	depends = glib2
	depends = glibc
	depends = libgudev
	depends = libgusb
	depends = openssl
	depends = pixman
	depends = gnutls
	depends = nettle
	depends = gmp
	provides = libfprint
	provides = libfprint-2.so
	conflicts = libfprint
	options = !debug
	source = libfprint::git+https://gitlab.freedesktop.org/s-celles/libfprint.git#commit=66591aae03856bcefa7d7b4c0f08ea630f64b623
	source = series::../../patches/libfprint/series
	source = 0001-build-make-generated-data-checks-deterministic.patch::../../patches/libfprint/0001-build-make-generated-data-checks-deterministic.patch
	b2sums = SKIP
	b2sums = e2ce873c8b4790b6064ab6aeeee8a3610cfa674f0f24da0a32eeaecc4d1d56892d64d2538ff06a253624189322f783296bce287d822aab4ea257e53d967c6c0b
	b2sums = 50836dfff9c20118963b1d565f63ebf2b297bc775fb903be14fe851427ea9d091c87f3b4b7938fe7419876dd1eab5058e5836792bd3f3631720f30adfd97ea72

pkgname = libfprint-verimark
